# 项目：某平台北京2021年二手房价数据

#### 背景描述：某平台北京市二手房信息，用于数据分析、可视化

#### 数据说明：字段：市区、 小区、 户型、 朝向、 楼层、 装修情况、 电梯、 面积(㎡)、 价格(万元)、 年份

#### 问题描述： 
1、北京二手房地理分布 
2、二手房价格分析 
3、二手房面积分布 
4、二手房价格预测 
5、相关性分析

In [1]:
import pandas as pd
import pyecharts.options as opts
from pyecharts.charts import Map
from pyecharts.faker import Faker
from IPython.display import IFrame
from IPython.display import Image
from pyecharts.charts import Bar
from pyecharts.charts import Line
from pyecharts.charts import Grid
from pyecharts.charts import Pie
from pyecharts.charts import Scatter
from pyecharts import options as opts

C:\Users\林涵\AppData\Local\Temp\ipykernel_5088\1139514244.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

导入数据表，赋值为beijing_list

In [2]:
beijing_list = pd.read_csv("二手房数据.csv",encoding = 'gb18030')
beijing_list.head()

,市区,小区,户型,朝向,楼层,装修情况,电梯,面积(㎡),价格(万元),年份,Id,Unnamed: 11
0,朝阳,育慧里一区,1室0厅,西,7,精装,有电梯,52,343,2001,1.01E+11,NaN
1,朝阳,大西洋新城A区,2室2厅,南北,10,精装,有电梯,86,835,1999,1.01E+11,NaN
2,朝阳,团结湖路,2室1厅,东西,6,精装,无电梯,65,430,1980,1.01E+11,NaN
3,朝阳,尚家楼48号院,2室1厅,南北,12,精装,有电梯,75,610,1998,1.01E+11,NaN
4,朝阳,望京西园一区,3室2厅,南北,6,精装,无电梯,115,710,1997,1.01E+11,NaN

##### 评估数据
###### 查看数据整齐和清洁度
首先复制一个新的表，作为清洗前后区分

In [3]:
beijing_list1 = beijing_list
beijing_list1

,市区,小区,户型,朝向,楼层,装修情况,电梯,面积(㎡),价格(万元),年份,Id,Unnamed: 11
0,朝阳,育慧里一区,1室0厅,西,7,精装,有电梯,52,343,2001,1.01E+11,NaN
1,朝阳,大西洋新城A区,2室2厅,南北,10,精装,有电梯,86,835,1999,1.01E+11,NaN
2,朝阳,团结湖路,2室1厅,东西,6,精装,无电梯,65,430,1980,1.01E+11,NaN
3,朝阳,尚家楼48号院,2室1厅,南北,12,精装,有电梯,75,610,1998,1.01E+11,NaN
4,朝阳,望京西园一区,3室2厅,南北,6,精装,无电梯,115,710,1997,1.01E+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23672,西城,真武庙六里,2室1厅,南北,18,精装,有电梯,78,888,1988,1.01E+11,NaN
23673,西城,右安门内大街,1室1厅,西北,7,其他,无电梯,45,405,1991,1.01E+11,NaN
23674,西城,玉桃园二区,2室1厅,南北,6,简装,无电梯,60,650,1997,1.01E+11,NaN
23675,西城,红莲南里,2室1厅,南北,7,精装,无电梯,61,470,1992,1.01E+11,NaN
23676,西城,白广路6号院,3室0厅,南,6,简装,NaN,84,635,1955,1.01E+11,NaN

首先去掉去后一列无数据的列

In [4]:
beijing_list1 = beijing_list1.drop("Unnamed: 11",axis = 1)
beijing_list1

       市区       小区    户型  朝向  楼层 装修情况   电梯 面积(㎡) 价格(万元)    年份        Id
0      朝阳    育慧里一区  1室0厅   西   7   精装  有电梯    52    343  2001  1.01E+11
1      朝阳  大西洋新城A区  2室2厅  南北  10   精装  有电梯    86    835  1999  1.01E+11
2      朝阳     团结湖路  2室1厅  东西   6   精装  无电梯    65    430  1980  1.01E+11
3      朝阳  尚家楼48号院  2室1厅  南北  12   精装  有电梯    75    610  1998  1.01E+11
4      朝阳   望京西园一区  3室2厅  南北   6   精装  无电梯   115    710  1997  1.01E+11
...    ..      ...   ...  ..  ..  ...  ...   ...    ...   ...       ...
23672  西城    真武庙六里  2室1厅  南北  18   精装  有电梯    78    888  1988  1.01E+11
23673  西城   右安门内大街  1室1厅  西北   7   其他  无电梯    45    405  1991  1.01E+11
23674  西城    玉桃园二区  2室1厅  南北   6   简装  无电梯    60    650  1997  1.01E+11
23675  西城     红莲南里  2室1厅  南北   7   精装  无电梯    61    470  1992  1.01E+11
23676  西城   白广路6号院  3室0厅   南   6   简装  NaN    84    635  1955  1.01E+11

[23677 rows x 11 columns]

查看表格数据情况

In [5]:
print(beijing_list1.describe())

           市区     小区     户型     朝向     楼层   装修情况     电梯  面积(㎡) 价格(万元)     年份  \
count   23677  23677  23677  23677  23677  23677  15422  23677  23677  23677
unique     19   4528     63     14     45     10      8    424   1341     72
top        海淀   远洋山水   2室1厅     南北      6     精装    有电梯     89    450   2004
freq     2983    102   9485  11431   7656  11352   9340    476    318   1758

              Id
count      23677
unique         3
top     1.01E+11
freq       23675

共23677条数据，接着查看缺失数据情况

In [6]:
beijing_list1.isnull().sum()

市区           0
小区           0
户型           0
朝向           0
楼层           0
装修情况         0
电梯        8255
面积(㎡)        0
价格(万元)       0
年份           0
Id           0
dtype: int64

电梯项缺失8255条数据

查看缺失数据情况

In [7]:
beijing_list1[('电梯')].unique()

array(['有电梯', '无电梯', nan, '81', '0', '3室1厅', '2室1厅', '光熙家园一期', '京师吉地'],
      dtype=object)

补充缺失值

In [8]:
beijing_list1['电梯'] = beijing_list1['电梯'].fillna('未知')
beijing_list1.isnull().sum()

市区        0
小区        0
户型        0
朝向        0
楼层        0
装修情况      0
电梯        0
面积(㎡)     0
价格(万元)    0
年份        0
Id        0
dtype: int64

In [9]:
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '81'].index,inplace=True)
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '0'].index,inplace=True)
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '3室1厅'].index,inplace=True)
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '2室1厅'].index,inplace=True)
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '光熙家园一期'].index,inplace=True)
beijing_list1.drop(beijing_list1[beijing_list1['电梯'] == '京师吉地'].index,inplace=True)
beijing_list1['电梯'].unique()

array(['有电梯', '无电梯', '未知'], dtype=object)

In [10]:
#电梯数据完整，之后查看朝向数据

In [11]:
beijing_list1['朝向'].unique()

array(['西', '南北', '东西', '南西', '西南', '东南', '南', '东北', '东', '西北', '北',
       '有电梯'], dtype=object)

In [12]:
beijing_list1['朝向'] = beijing_list1['朝向'].str.replace('南西','西南')
beijing_list1['朝向'].unique()

array(['西', '南北', '东西', '西南', '东南', '南', '东北', '东', '西北', '北', '有电梯'],
      dtype=object)

In [13]:
beijing_list1['价格(万元)'].unique()

array(['343', '835', '430', ..., '533.5', '1666', '1293'], dtype=object)

In [14]:
beijing_list1_df = pd.DataFrame(beijing_list1)
print(beijing_list1_df.columns)

Index(['市区', '小区', '户型', '朝向', '楼层', '装修情况', '电梯', '面积(㎡)', '价格(万元)', '年份',
       'Id'],
      dtype='object')

In [15]:
beijing_list1.groupby('市区').count()

       小区    户型    朝向    楼层  装修情况    电梯  面积(㎡)  价格(万元)    年份    Id
市区
东城   1533  1533  1533  1533  1533  1533   1533    1533  1533  1533
丰台   2952  2952  2952  2952  2952  2952   2952    2952  2952  2952
大兴   2115  2115  2115  2115  2115  2115   2115    2115  2115  2115
密云     12    12    12    12    12    12     12      12    12    12
平谷     41    41    41    41    41    41     41      41    41    41
延庆    469   469   469   469   469   469    469     469   469   469
怀柔     15    15    15    15    15    15     15      15    15    15
房山   1440  1440  1440  1440  1440  1440   1440    1440  1440  1440
昌平   2811  2811  2811  2811  2811  2811   2811    2811  2811  2811
有电梯     1     1     1     1     1     1      1       1     1     1
朝阳   2970  2970  2970  2970  2970  2970   2970    2970  2970  2970
海淀   2983  2983  2983  2983  2983  2983   2983    2983  2983  2983
石景山   882   882   882   882   882   882    882     882   882   882
西城   2129  2129  2129  2129  2129  2129   2129    2129  2129  2129
通州   1602  1602  1602  1602  1602  1602   1602    1602  1602  1602
门头沟   495   495   495   495   495   495    495     495   495   495
顺义   1221  1221  1221  1221  1221  1221   1221    1221  1221  1221

可以看出丰台、朝阳、海淀、昌平的房数最多。接下来把价格改为数值。

In [16]:
beijing_list1['价格(万元)'] = beijing_list1['价格(万元)'].astype('category')
beijing_list1['价格(万元)'] = beijing_list1['价格(万元)'].cat.codes
beijing_list1['价格(万元)'] = beijing_list1['价格(万元)'].astype(float)
beijing_list1['价格(万元)'] = pd.to_numeric(beijing_list1['价格(万元)'], errors='coerce')

In [17]:
beijing_list1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23671 entries, 0 to 23676
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   市区      23671 non-null  object
 1   小区      23671 non-null  object
 2   户型      23671 non-null  object
 3   朝向      23671 non-null  object
 4   楼层      23671 non-null  object
 5   装修情况    23671 non-null  object
 6   电梯      23671 non-null  object
 7   面积(㎡)   23671 non-null  object
 8   价格(万元)  23671 non-null  float64
 9   年份      23671 non-null  object
 10  Id      23671 non-null  object
dtypes: float64(1), object(10)
memory usage: 2.2+ MB

In [18]:
beijing_list1.drop(beijing_list1[beijing_list1['价格(万元)'] == '0'].index,inplace=True)
beijing_list1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23671 entries, 0 to 23676
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   市区      23671 non-null  object
 1   小区      23671 non-null  object
 2   户型      23671 non-null  object
 3   朝向      23671 non-null  object
 4   楼层      23671 non-null  object
 5   装修情况    23671 non-null  object
 6   电梯      23671 non-null  object
 7   面积(㎡)   23671 non-null  object
 8   价格(万元)  23671 non-null  float64
 9   年份      23671 non-null  object
 10  Id      23671 non-null  object
dtypes: float64(1), object(10)
memory usage: 2.2+ MB

### 可视化
1北京二手房数量地图分布

In [19]:
g = beijing_list1.groupby('市区')
df_region = g.count()['小区']
region = df_region.index.tolist()
count = df_region.values.tolist()
df_region

市区
东城     1533
丰台     2952
大兴     2115
密云       12
平谷       41
延庆      469
怀柔       15
房山     1440
昌平     2811
有电梯       1
朝阳     2970
海淀     2983
石景山     882
西城     2129
通州     1602
门头沟     495
顺义     1221
Name: 小区, dtype: int64

In [20]:
def m1():
    new = [x + '区' for x in region]
    m = (
            Map()
            .add('', [list(z) for z in zip(new, count)], '北京')
            .set_global_opts(
                title_opts=opts.TitleOpts(title='北京市二手房各区分布'),
                visualmap_opts=opts.VisualMapOpts(max_=3000),
            )
        )
    return m

In [21]:
m = m1()
m.render('北京市二手房各区分布.html')

'C:\\Users\\林涵\\北京市二手房各区分布.html'

In [22]:


# 将文件名替换为您在上一个示例中使用的文件名
file_path = '北京市二手房各区分布.html'

# 使用 IFrame 显示 HTML 文件
IFrame(file_path, width=800, height=600)

In [23]:
g = beijing_list1.groupby('市区')
df_price = g.sum()['价格(万元)']
df_price

市区
东城     1258580.0
丰台     2285816.0
大兴     1481831.0
密云        5161.0
平谷       22831.0
延庆      323804.0
怀柔        8353.0
房山      876953.0
昌平     2029654.0
有电梯       1334.0
朝阳     2244165.0
海淀     2314778.0
石景山     626561.0
西城     1805499.0
通州     1121052.0
门头沟     315448.0
顺义      820010.0
Name: 价格(万元), dtype: float64

In [24]:
def grid1():
    df_price.values.tolist()
    price = [round(x,2) for x in df_price.values.tolist()]
    bar = (
        Bar()
        .add_xaxis(region)
        .add_yaxis('数量', count,
                label_opts=opts.LabelOpts(is_show=True))
        .extend_axis(
            yaxis=opts.AxisOpts(
                name="价格（万元）",
                type_="value",
                min_=200,
                max_=900,
                interval=100,
                axislabel_opts=opts.LabelOpts(formatter="{value}"),
            )
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title='各城区二手房数量-平均价格柱状图'),
            tooltip_opts=opts.TooltipOpts(
                is_show=True, trigger="axis", axis_pointer_type="cross"
            ),
            xaxis_opts=opts.AxisOpts(
                type_="category",
                axispointer_opts=opts.AxisPointerOpts(is_show=True, type_="shadow"),
            ),
            yaxis_opts=opts.AxisOpts(name='数量',
                axistick_opts=opts.AxisTickOpts(is_show=True),
                splitline_opts=opts.SplitLineOpts(is_show=False),)
        )
    )

    line2 = (
        Line()
        .add_xaxis(xaxis_data=region)
        .add_yaxis(
            
            series_name="价格",
            yaxis_index=1,
            y_axis=price,
            label_opts=opts.LabelOpts(is_show=True),
            z=10
            )
    )

    bar.overlap(line2)
    grid = Grid()
    grid.add(bar, opts.GridOpts(pos_left="5%", pos_right="20%"), is_control_axis_index=True)
    grid.render("chart.html")
    return grid

grid =grid1()
image_path = 'chart.html'
IFrame(image_path, width=800, height=600)